.online {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.onlineProfileImgContainer {
    margin-right: 10px;
    position: relative;
    z-index: 1;
}

.onlineProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.onlineBadge {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: limegreen;
    position: absolute;
    top: -2px;
    right: 0;
    border: 2px solid #fff;
}

.onlineUserName {
    font-weight: 500;
}
